<div class="form-horizontal">
<%= form_for(@advertisement) do |f| %>
	<% if @advertisement.errors.full_messages.any? %>
		<% @advertisement.errors.full_messages.each do |error_message| %>
				<%= error_message if @advertisement.errors.full_messages.first == error_message %> <br />
		<% end %>
	<% end %>


	<div class="field">
		<%= f.label :Imię %><br>
		<%= f.text_field :first_name %>
	</div>
	<div class="field">
		<%= f.label :Nazwisko %><br>
		<%= f.text_field :last_name %>
	</div>
	<div class="field">
		<%= f.label :Miejscowość %><br />
		<%= f.select :town, Advertisement.all.map { |u| [u.town] },
		{ include_blank: true },
    { class: 'chosen-select' } %>
  </div>
	<div class="field">
		<%= f.label :Email %><br>
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label :Numer_telefonu %><br>
		<%= f.text_field :phone_number %>
	</div>
	<div class="field">
		<%= f.label :Napisz_coś_o_sobie %><br>
		<%= f.text_field :bio %>
	</div>
	<div class="field">
		<%= f.label :Cena %><br>
		<%= f.text_field :price %>
	</div>
	<div class="field">
		<%= f.label :tag_list, "Kategorie kursu(oddzielone przecinkami)" %><br/>
		<%= f.text_field :tag_list %>
	</div>
	<div class="actions">
		<%= f.submit "Dodaj ogłoszenie" %>
	</div>
<% end %>
</div>